force-app/main/default/flows/WaitAndResumeThread.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ResumeThread</name>
        <label>ResumeThread</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <actionName>WaitAndResumeThreadTool</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>threadId</name>
            <value>
                <elementReference>threadId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>WaitAndResumeThreadTool</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>StoreInterviewId</name>
        <label>Store Interview Id</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>interviewId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sleep</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>oneHourBeforeResume</name>
        <dataType>DateTime</dataType>
        <expression>{!userNow} + (({!hoursToWait} - 1) * 60 /1440)</expression>
    </formulas>
    <formulas>
        <name>userNow</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <interviewLabel>WaitAndResumeThread in {!oneHourBeforeResume} hours + 1</interviewLabel>
    <label>WaitAndResumeThread</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>StoreInterviewId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>hoursToWait</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>interviewId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Id of the Open AI Assistant Thread that wants to wait and resume at a certain time</description>
        <name>threadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <waits>
        <name>Sleep</name>
        <label>Sleep</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Wait_until</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>ResumeThread</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>oneHourBeforeResume</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Wait until</label>
        </waitEvents>
    </waits>
</Flow>
